.timer {
    -fx-background-image: url("../img/timer.png");
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.container-text {
    -fx-font-size: 64;
}

.container-text > Label {
    -fx-text-fill: whitesmoke;
}

